body{
	background: #595959;
}
#baymax{
	height: 600px;
	/*width: 600px;*/
}
#head{
	height: 60px;
	width: 100px;
	background: #fff;
	margin: 0 auto;
	border-radius: 50%;
	border-bottom: 5px solid #E0E0E0;
}
#l-eye,#r-eye{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background: black;
	top: 25px;
	left: 25px;
	position: relative;
}
#r-eye{
	left: 65px;
	top: 10px;
}
#mouth{
	width: 32px;
	height: 5px;
	left: 34px;
	background: black;
	top: 1px;
	position: relative;
}
#torso{
	width: 200px;
	height: 250px;
	background: #fff;
	margin: 0 auto;
	border-radius: 47%;
	border: 5px solid #E0E0E0;
	border-top: none;
}
#heart{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	box-shadow: 4px 4px 2px #CCC inset;
	left: 120px;
	top: 40px;
	position: relative;
}
#belly{
	width: 300px;
	height: 350px;
	background: #fff;
	margin: 0 auto;
	top: -180px;
	position: relative;
	border-radius: 47%;
	border: 5px solid #E0E0E0;
}
#cover{
	width:210px;
	height: 100px;
	position: relative;
	top: -10px;
	margin: 0 auto;
	background: #fff;
	border-radius: 50%;
}
#l-arm,#r-arm{
	height: 300px;
	width: 100px;
	background: #fff;
	top: -600px;
	left: 670px;
	position: relative;
	border-radius: 50%;
	z-index: -1;
   transform: rotate(25deg);
}
#r-arm{
	left: 955px;
	top: -900px;
	transform: rotate(-25deg);
	position: relative;
}
#l-bigfinger,#r-bigfinger{
	height: 55px;
	width: 20px;
	background: #fff;
	position: relative;
	transform: rotate(-50deg);
	border-radius: 50%;
	top: 280px;
	left: 45px;
}
#r-bigfinger{
	transform: rotate(50deg);
	left: 35px;
}
#l-smallfinger,#r-smallfinger{
	height: 30px;
	width: 15px;
	background: #fff;
	position: relative;
	transform: rotate(-50deg);
	border-radius: 50%;
	top: 223px;
	left: 58px;
}
#r-smallfinger{
	transform: rotate(50deg);
	left: 26px;
	top: 223px;
}
#l-leg,#r-leg{
	height: 170px;
	width: 90px;
	background: #fff;
	position: relative;
	top: -840px;
	left: 780px;
	border-radius: 40% 30% 10px 45% ;
	z-index: -1;
}
#r-leg{
	left: 880px;
	top: -1010px;
	border-radius: 30% 40% 45% 10px;
}



